.matrix-input {
    &__matrix-wrapper {
        background-color: lightgray;
    }
  &__matrix-form{
    display: flex;
    flex-direction: row;
    }
    &__matrix-row-wrapper {
        display: flex;
        flex-direction: column;
        margin-left: 5px;
        margin-right: 5px;
    }
    &__matrix-row-item {
        max-width: 60px;
    }
}
