@import '../../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css';
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  min-height: 90vh;
}

.action-buttons__err {
  color: red;
  margin: 10px auto;
}
footer {
  height: 10vh;
  background-color: lavender;
  opacity: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
